<div class="offer">
  <div *ngIf="offer.image != null" class="card-img-top offer-cover-image">
    <a [routerLink]="['offers', offer.slug, offer.id]" class="top offer-img"
       [ngStyle]="{'background-image': 'url(' + offer.image + ')'}"></a>
  </div>
  <div class="card-body">
    <h2 class="card-title offer-title">
      <a [routerLink]="['offers', offer.slug, offer.id]" class="offer-link">{{ offer.title }}</a>
    </h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div>
          {{ offer.location }}
        </div>
      </li>
      <li class="list-group-item">
        <div>
          Od {{ offer.startedAt ? (offer.startedAt | date: 'dd MMMM yyyy, hh:mm'): 'teraz' }}
        </div>
        <div>do {{ offer.finishedAt ? (offer.finishedAt | date: 'dd MMMM yyyy, hh:mm'): 'ustalenia' }}</div>
      </li>
      <div class="offer-organizer">
        <span>Organizator:
        <a [routerLink]="['organizations', offer.organization.slug, offer.organization.id]">
        {{ offer.organization.name }}</a></span>
      </div>
    </ul>
  </div>
</div>
