# Configuration files
backend/local_config.yaml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm directory
.idea/

# npm and gulp
.nvm/
backend/apps/volontulo/node_modules/
backend/apps/volontulo/static/
backend/media
backend/static

frontend/node_modules/
frontend/tmp/
frontend/out-tsc/
frontend/.sass-cache
frontend/.sass-cache
frontend/connect.lock
frontend/coverage
frontend/libpeerconnection.log
frontend/typings
frontend/e2e/*.js
frontend/e2e/*.map

npm-debug.log
testem.log

# Development directories / files
.ropeproject

# SQLite database
*.sqlite3
*.sqlite

#vagrant ignore
.vagrant/
tmp.yaml

.DS_Store
Thumbs.db

# Secrets passed to server configuration which should not be commited
# to the repository, eg. OS environment variables for Sentry DSN,
# DB pass, etc.
secrets.py
