<section class="content-heading">
  <div class="container">
    <h2>Formularz kontaktowy</h2>

    <ngb-alert *ngIf="success === true" type="success" (close)="success = null">
      Twoja wiadomość została wysłana. <strong>Dziękujemy!</strong>
    </ngb-alert>
    <ngb-alert *ngIf="success === false" type="danger" (close)="success = null">
        Przesłano niepoprawne dane.
    </ngb-alert>

    <form id="contact_form" [formGroup]="fg">

      <div class="form-group row">
        <label class="col-md-3 col-form-label">Kontaktuję się jako:</label>
        <div class="col-md-9">
          <select class="form-control" formControlName="applicant_type" required>
            <span class="required"></span>
            <option *ngFor="let applicantType of contactData.applicantTypes" [value]="applicantType">
              {{ applicantType === 'volunteer' ? 'wolontariusz' : 'organizacja' }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Z administratorem:</label>
        <div class="col-md-9">
          <select class="form-control" formControlName="administrator_email">
            <option *ngFor="let administratorEmail of contactData.administratorEmails" [value]="administratorEmail">
              {{  administratorEmail }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Twoje imię i nazwisko:</label>
        <div class="col-md-9">
          <input class="form-control" formControlName="applicant_name" [ngClass]="{ }" />
          <volontulo-form-error [fc]="fg.controls.applicant_name"></volontulo-form-error>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Twój email:</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="applicant_email"/>
          <volontulo-form-error [fc]="fg.controls.applicant_email"></volontulo-form-error>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Telefon:</label>
        <div class="col-md-9">
          <input class="form-control" formControlName="phone_no"/>
          <volontulo-form-error [fc]="fg.controls.phone_no" [maxLength]="20"></volontulo-form-error>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label">Opis:</label>
        <div class="col-md-9">
          <textarea class="form-control" rows="3" formControlName="message"></textarea>
          <volontulo-form-error [fc]="fg.controls.message" [minLength]="10" [maxLength]="2000"></volontulo-form-error>
        </div>
      </div>
      <div class="form-group row d-none">
        <label class="col-md-3 col-form-label">Bot trap</label>
        <div class="col-md-9">
          <input type="text" class="form-control" formControlName="honey_value" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-offset-3 col-md-9">
          <button [disabled]="fg.invalid && submitEnabled" type="submit" name="submit" class="btn btn-primary" (click)="submitForm()">
            Wyślij
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
