<div class="container">
  <div class="py-4">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <p class="cooperation-info">Ten serwis powstał wspólnym wysiłkiem we współpracy pomiędzy:</p>
      </div>
    </div>
    <div class="row pt-2">
      <div class="col-3 ml-auto mr-4 px-0 text-center align-self-center">
        <a target="_blank" href="http://wrk.org.pl/">
          <img class="img-fluid" src="../../assets/img/logo/logo-wrk.png"
               alt="Logo WRK - Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych"></a>
      </div>
      <div class="col-3 mr-auto ml-4 px-0 text-center align-self-center">
        <a target="_blank" href="http://stxnext.pl/">
          <img class="img-fluid" src="../../assets/img/logo/logo-stx-next.png" alt="Logo STX Next"></a>
      </div>
    </div>
  </div>
</div>
