<div class="container container-fluid" *ngIf="organization$ | async as organization">
  <div>{{test}}</div>
  <h2 class="display-4">Organizacja</h2>
    <dl class="row">
      <dt class="col-md-2">Nazwa</dt>
      <dd class="col-md-4">
        <span>{{ organization.name }}</span>
      </dd>
      <dt class="col-md-2">Adres</dt>
      <dd class="col-md-4">
        <address>{{ organization.address }}</address>
      </dd>
      <dt class="col-md-2">Opis</dt>
      <dd class="col-md-10">
        {{ organization.description }}
      </dd>
    </dl>
  <div class="row">
      <div class="col-md-10 offset-md-2" *ngIf="isUserOrgMember$ | async">
        <a href="{{ djangoRoot }}/organizations/{{ organization.slug }}/{{ organization.id }}/edit" class="btn btn-primary">Edytuj organizację</a>
        <a href="{{ djangoRoot }}/offers/create" class="btn btn-primary">Dodaj ofertę</a>
      </div>
    </div>
</div>
<!-- TODO!!! Issue #754 - Contact form component (for user that aren't current organization's members).
<!-- TODO!!! Issue #755 Organization's list of offers -->
