<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Profil</h3>
        <div class="card-body">
          <p class="card-text">Formularz danych osobowych</p></div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Aktywność</h3>
        <div class="card-body">
          <p class="card-text">Zgłoś się w jednej z dostępnych ofert wolontariatu i zapełnij to miejsce.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <h3 class="card-header">Działania w organizacji</h3>
        <div class="card-body">
         <volontulo-organizations-list [organizations]="organizations$ | async"></volontulo-organizations-list>
        </div>
      </div>
    </div>
  </div>
</div>
