.offer {
    border-radius: 5px;
}

.offer-title {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px;
    padding: 4px 0;
    text-align: center;
}

.offer-link {
    color: black;
}

.offer-caption {
    box-shadow: 0 0 10px rgba(67, 74, 84, 0.5);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, white 40%, white 100%);
    padding: 10px;
}

.offer-glyphicon {
    padding: 0px;
    min-width: 28px;
    line-height: 28px;
    font-size: 16px;
    text-align: center;
    color: #434A54;
    margin-right: 5px;
    background-color: #E6E9ED;
    border-bottom-color: #E6E9ED;
}

.offer-cover-image {
    overflow: hidden;
}

.offer-img {
    display: block;
    position: relative;
    margin: -10% -15% -30%;
    padding-top: 100%;
    background-position: center;
    background-size: cover;
}

.offer-row {
    display: flex;
    align-items: center;
    border: 1px solid #E6E9ED;
    margin: .5em 0;
    border-radius: 3px;
}

.offer-organizer {
    text-align: right;
}

