/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';

/* Global utilities */
@import './variables';
@import './mixins';
@import './animations';
@import './volontuloBase64Img';

/* Components */
@import './components/loader';


/* Global styles */

html {
  font-size: $font-size-base;
}

/* Temporary hack. We need to raise bootstrap version.*/

.form-check {
  padding-left: $form-check-input-gutter;
}

input[type=file] {
  visibility: hidden;
}
