{% block footer %}
    <h2 class="hide">Nawigacja</h2>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Informacje</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{{ ANGULAR_ROOT }}">Strona główna</a></li>
                <li><a href="{% url 'register' %}">Załóż konto</a></li>
                <li><a href="{% url 'contact_form' %}">Kontakt z administratorem</a></li>
                <li><a href="{{ ANGULAR_ROOT }}/about-us">O nas</a></li>
                <li><a href="{{ ANGULAR_ROOT }}/regulations">Regulamin</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Strefa organizacji i instytucji</h3>
            <ul class="nav-list list-unstyled">
                <li><a href="{% url 'register' %}">Załóż konto</a></li>
                <li><a href="{% url 'offers_create' %}">Dodaj nową ofertę</a></li>
                <li><a href="{% url 'organizations_list' %}">Lista organizacji i instytucji</a></li>
                <li><a href="{{ ANGULAR_ROOT }}/faq-organizations">FAQ dla organizacji i instytucji</a></li>
                <li><a href="{{ ANGULAR_ROOT }}/office">Przyjdź na dyżur</a></li>
            </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3 class="nav-title">Strefa wolontariusza</h3>
            <ul class="nav-list list-unstyled">
                 <li><a href="{% url 'register' %}">Załóż konto</a></li>
                 <li><a href="{% url 'offers_list' %}">Lista aktualnych ofert</a></li>
                 <li><a href="{% url 'offers_archived' %}">Archiwum ofert</a></li>
                 <li><a href="{% url 'organizations_list' %}">Lista organizacji i instytucji</a></li>
                 <li><a href="{{ ANGULAR_ROOT }}/faq-volunteers">FAQ dla wolontariuszy</a></li>
                 <li><a href="{{ ANGULAR_ROOT }}/office">Przyjdź na dyżur</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
