<div class="container">
  <nav class="navbar navbar-light navbar-expand-md">

    <a class="navbar-brand" href="#">
      <img src="../../assets/img/volo_logo.svg" height="32" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#mainNavbar"
            aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse justify-content-end" id="mainNavbar">
      <ul class="navbar-nav mt-2 mt-md-0 align-items-end">
        <li class="nav-item">
          <button role="button" class="btn btn-primary my-2 my-sm-0">Załóż konto</button>
        </li>
        <li>
          <span class="nav-item navbar-text ml-2 mr-2">lub</span>
        </li>
        <li class="nav-item">
          <button role="button" class="btn btn-outline-success my-2 my-sm-0">Zaloguj się</button>
        </li>
      </ul>
    </div>

  </nav>
</div>
