<div class="container">
  <h2>Potwierdź zmianę hasła</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
    <div  formGroupName="passwords">
      <div class="form-group">
        <label for="password">Podaj nowe hasło</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          class="form-control form-control-lg"
          [ngClass]="{'is-invalid': isFormInputInvalid('passwords.password')}"
          />
        <div
          class="invalid-feedback"
          *ngIf="isFormInputInvalid('passwords.password')">
          Pole nie może być puste.
        </div>
      </div>
      <div class="form-group">
        <label for="confirm-password">Powtórz hasło</label>
        <input
          type="password"
          id="confirm-password"
          formControlName="confirmPassword"
          class="form-control form-control-lg"
          [ngClass]="{'is-invalid': isFormInputInvalid('passwords.confirmPassword')}"
          />
        <div
          class="invalid-feedback"
          *ngIf="isFormInputInvalid('passwords.confirmPassword')">
          Pole nie może być puste.
        </div>
      </div>
    </div>
    <div *ngIf="arePasswordsNotEqual()">
      <ngb-alert type="danger" [dismissible]="false">
        <strong>Hasła muszą być takie same.</strong>
      </ngb-alert>
    </div>
    <div class="form-group">
      <button
        type="submit"
        name="submit"
        [disabled]="resetForm.invalid"
        class="btn btn-primary">
        Potwierdź
      </button>
    </div>
  </form>
</div>
