{% if offers %}
    <div class="row offer-thumbnails auto-clear">
        {% for offer in offers %}
            <div class="col-sm-6">
                <div class="thumbnail">
                    <a href="{{ ANGULAR_ROOT }}/offers/{{ offer.title | slugify }}/{{ offer.id }}" class="heading-image" style="background-image:url({{ MEDIA_URL }}{{ offer.image }})"></a>
                    <a href="{{ ANGULAR_ROOT }}/offers/{{ offer.title | slugify }}/{{ offer.id }}">
                        <div class="panels">
                            <div class="offer-title">
                                <h2 class="title">
                                    {{ offer.title }}
                                </h2>
                            </div>
                            <div class="clearfix"></div>
                            <div class="media panel-default">
                                <div class="media-left panel-heading">
                                    <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
                                </div>
                                <div class="media-body panel-body">
                                    {{ offer.location }}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="media panel-default">
                                <div class="media-left panel-heading">
                                    <span aria-hidden="true" class="glyphicon glyphicon-time"></span>
                                </div>
                                <div class="media-body panel-body">
                                    <span class="is-inline_block">{{ offer.started_at|date:'j E Y, G:m'|default:' teraz' }}</span> -
                                    <span class="is-inline_block">{{ offer.finished_at|date:'j E Y, G:m'|default:' do ustalenia' }}</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                    <div class="caption">
                        {% if offer.benefits %}
                            <h4 class="">Twoje korzyści</h4>
                            <p>{{ offer.benefits }}</p>
                        {% endif %}
                        {% if offer.requirements %}
                            <h3 class="">Wymagania wobec Ciebie</h3>
                            <p>{{ offer.requirements }}</p>
                        {% endif %}
                        {% if offer.time_commitment %}
                            <h3 class="panel-title">Zaangażowanie czasowe</h3>
                            <p>{{ offer.time_commitment }}</p>
                        {% endif %}
                            <h3 class="text-left">Organizator: <a class="text-warning" href="{{ ANGULAR_ROOT }}/organizations/{{ offer.organization | slugify }}/{{ offer.organization.id }}">{{ offer.organization.name }}</a></h3>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Zgłoś się w jednej z dostępnych ofert wolontariatu i zapełnij to miejsce.</p>
{% endif %}
