<div class="container">
  <nav class="navbar navbar-light navbar-expand-md">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="assets/img/volo_logo.svg" height="32" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse justify-content-end" id="mainNavbar">
      <ul *ngIf="!currentUser; else anonymousBlock" class="nav navbar-nav">
        <li class="nav-item">
          <a href="{{ djangoRoot }}/login" class="btn btn-primary my-2 my-sm-0">Załóż konto</a>
        </li>
        <li>
          <span class="nav-item navbar-text ml-2 mr-2">lub</span>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/login']" class="btn btn-outline-success my-2 my-sm-0">Zaloguj się</a>
        </li>
      </ul>
      <ng-template #anonymousBlock>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-link" id="userDropdown" ngbDropdownToggle>
                Witaj, {{ currentUser.username }}!
              </button>
              <div ngbDropdownMenu aria-labelledby="userDropdown">
                <a href="{{ djangoRoot }}/me" class="dropdown-item">Moje konto</a>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <a href="{{ djangoRoot }}/logout" class="btn btn-info my-2 my-sm-0">Wyloguj</a>
          </li>
        </ul>
      </ng-template>

    </div>

  </nav>
</div>
