<div class="container-fluid mt-4 mb-4">
  <h2 class="display-4">Często zadawane pytania przez <strong>organizatorów</strong></h2>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy wolontariuszem może być osoba niepełnoletnia?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         W przypadku osób, które nie są pełnoletnie na rozpoczęcie działalności woluntarystycznej wymagana jest zgoda przedstawiciela ustawowego (zazwyczaj – rodziców). Organizacje chcące korzystać z pracy niepełnoletnich wolontariuszy, aby uniknąć ewentualnych nieprzyjemności powinny prosić kandydatów o przedstawienie pisemnej zgody rodziców. W placówkach opiekuńczo – wychowawczych (zaliczamy do nich domy dziecka i świetlice środowiskowe) wolontariuszami mogą być tylko osoby pełnoletnie.
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Na rzecz jakich podmiotów wolontariusze mogą wykonywać świadczenia?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         Ustawa o działalności pożytku publicznego i o wolontariacie w art. 42 ust. 1 określa krąg podmiotów uprawnionych do zawierania porozumień z wolontariuszami, zwanych w ustawie korzystającymi. Są nimi:
        <ul>
          <li>organizacje pozarządowe oraz inne podmioty prowadzące działalność pożytku publicznego – w zakresie ich działalności statutowej (a nie gospodarczej), w szczególności w zakresie działalności pożytku publicznego,</li>
          <li>jednostki organizacyjne podległe organom administracji publicznej lub nadzorowane przez te organy – z wyłączeniem prowadzonej przez te jednostki działalności gospodarczej,</li>
          <li>organy administracji publicznej – z wyłączeniem prowadzadzonej przez nie działalności gospodarczej.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy wolontariusz może działać na rzecz przedsiębiorców?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         Podmioty, na rzecz których wolontariusz może wykonywać świadczenia zostały określone powyżej. Ponadto, ze względu na cel i charakter świadczeń wolontariuszy nie jest dopuszczalne, aby wykonywali oni świadczenia na rzecz przedsiębiorców i innych podmiotów prowadzących działalność gospodarczą. Wolontariusze nie powinni również zastępować pracowników a jedynie uzupełniać ich pracę.
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy wolontariusz jest pracownikiem?</strong>
      </h3>
      <div><span class="badge badge-info">Odpowiedź</span> Wolontariusz nie jest pracownikiem, ponieważ, za wykonanie świadczenia na rzecz korzystającego, wolontariusz nie pobiera wynagrodzenia i wykonuje je na podstawie porozumienia, a nie umowy o pracę (art.3 w zw. z art.42 ustawy). Ponadto wykonywane przez wolontariusza świadczenie nie jest świadczeniem pracy, lecz świadczeniem odpowiadającym świadczeniu pracy.</div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy wolontariusz musi mieć podpisane porozumienie?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         Wolontariusz pracuje w organizacji na podstawie i w oparciu o porozumienie zawarte z organizacją. W przypadku wolontariatu przekraczającego 30 dni porozumienie musi mieć formę pisemną. Dla porozumień obejmujących wolontariat krótkoterminowy (poniżej 30 dni) wystarczy forma ustna. Jednakże zawsze na żądania wolontariusza porozumienie musi zostać zawarte na piśmie. Porozumienie powinno zawierać zakres, sposób i czas wykonywania świadczenia, a także postanowienie o możliwości jego rozwiązania.
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Jakie obowiązki będą spoczywały na podmiotach uprawnionych do zawierania z wolontariuszami porozumień?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         Z art. 45 ustawy wynika, że korzystający jest zobowiązany do zapewnienia odpowiednich środków ochrony indywidualnej uzależnionych od rodzaju świadczeń i zagrożeń związanych z ich wykonywaniem. Korzystający ma również obowiązek informowania wolontariusza o ryzyku dla zdrowia i bezpieczeństwa związanym z wykonywanymi świadczeniami oraz o zasadach ochrony przed zagrożeniami, jak również do zapewnienia wolontariuszom bezpiecznych i higienicznych warunków wykonywania świadczeń.
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy członek/członkini stowarzyszenia może być wolontariuszem w swojej organizacji?</strong>
      </h3>
      <div>
        <span class="badge badge-info">Odpowiedź</span>
         Tak. 12 marca 2010 roku weszły w życie zmiany w dotychczasowej ustawie o działalności pożytku publicznego i wolontariacie. Jedna z nich mówi, że członek lub członkini swojej organizacji może być w niej jednocześnie wolontariuszem.
      </div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Czy Szkolny Klub Wolontariusza musi być gdzieś zarejestrowany?</strong>
      </h3>
      <div><span class="badge badge-info">Odpowiedź</span>
         Nie.</div>
    </div>
  </div>
  <div class="media mt-3">
    <img
      class="mr-3"
      src="https://placeholdit.imgix.net/~text?txtsize=14&amp;txt=Symbol+80x80px&amp;w=80&amp;h=80&amp;txttrack=0"
      alt="symbol">
    <div class="media-body">
      <h3 class="mt-0">
        <span class="badge badge-primary">Pytanie</span>
        <strong> Jak można nagradzać swoich wolontariuszy?</strong>
      </h3>
      <div><span class="badge badge-info">Odpowiedź</span> Jest wiele form i możliwości nagradzania swoich wolontariuszy. W zależności od zasobów i środków, którymi dysponujemy, mogą być to np.: listy gratulacyjne, dyplomy, zaproszenia na dodatkowe warsztaty, zaproszenia na spotkania zespołu pracowników, informacja na stronie internetowej, pochwała przed innymi wolontariuszami, powierzanie coraz bardziej odpowiedzialnych zadań, wdrażanie pomysłów wolontariuszy, wpis do księgi pamiątkowej, impreza z okazji Dnia Wolontariusza, wysyłanie kartek okolicznościowych, drobne gadżety, własne stanowisko pracy itd.</div>
    </div>
  </div>
</div>
