<h2>Regulamin</h2><br>
<h4 class="text-center">REGULAMIN KORZYSTANIA Z USŁUG POŚREDNICTWA WOLONTARIATU OFEROWANYCH PRZEZ WIELKOPOLSKĄ RADĘ KOORDYNACYJNĄ ZWIĄZEK ORGANIZACJI POZARZĄDOWYCH (WRK) PROWADZĄCĄ REGIONALNE CENTRUM WOLONTARIATU W POZNANIU (RCW)</h4><br>

<p class="text-center">§1</p>
    <div class="paragraph">W ramach pośrednictwa wolontariatu WRK oferuje:</div>
    <ul>
        <li>umieszczenie oferty wolontariatu na stronie internetowej <a href="www.wolontariat.wrk.org.pl">www.wolontariat.wrk.org.pl</a>,</li>
        <li>umieszczenie oferty w bazie ofert wolontariatu,</li>
        <li>rozesłanie oferty do partnerów (studenckie biura karier, organizacje/instytucje pośredniczące w wolontariacie),</li>
        <li>rozesłanie oferty do wolonatriuszy z bazy,</li>
        <li>informowanie zgłaszających się do biura pośrednictwa kandydatów na wolontariuszy o ofercie, jeśli odpowiada ich profilowi,</li>
        <li>doradztwo i szkolenia w zakresie pozyskiwania i utrzymania wolontariuszy,</li>
        <li>przeszkolenie zrekrutowanych przez organizację/instytucję wolontariuszy zgodnie z modułem „Mój pierwszy krok w wolontariat”,</li>
        <li>dostarczenie wzorów porozumień i zaświadczeń dotyczących współpracy organizacji/instytucji z wolontariuszem,</li>
        <li>organizację doradztwa, spotkań i szkoleń tematycznych dla wolontariuszy,</li>
        <li>organizację doradztwa, spotkań i szkoleń dla organizacji/instytucji korzystających z wolontariuszy.</li>
    </ul>

<p class="text-center">§2</p>
    <p>Pośrednictwo wolontariatu prowadzone jest jedynie dla organizacji pozarządowych, instytucji i innych podmiotów wymienionych w artykule 43 Ustawy z dnia 24   kwietnia 2003 r. o działalności pożytku publicznego i o wolontariacie. <b>Nie szukamy wolontariuszy dla osób prywatnych</b>, natomiast możemy udzielić    informacji, jakie organizacje się tym zajmują.</p>

<p class="text-center">§3</p>
    <div class="paragraph">Żeby zgłosić chęć współpracy, należy:</div>
    <ul>
        <li>wypełnić formularz dostępny na stronie internetowej: <a href="http://wolontariat.wrk.org.pl">http://wolontariat.wrk.org.pl</a>. Należy pamiętać, aby podać aktualny kontakt do koordynatora/opiekuna wolontariatu: telefon, godziny, w jakich można się z nim skontaktować, adres mailowy lub</li>
        <li>na maila <a href="mailto:wolontariat@wrk.org.pl">wolontariat@wrk.org.pl</a><b>przesłać ofertę wolontariatu</b>zawierającą następujące elementy: informacja o organizacji/instytucji, opis zadań wolontariusza, korzyści dla wolontariusza ze współpracy z organizacją/instytucją, szczególne kwalifikacje wymagane wobec wolontariusza, wymagania czasowe zaangażowania w wolontariat, liczba potrzebnych wolontariuszy, inne informacje istotne z punktu widzenia zgłaszanej oferty, <b>kontakt do koordynatora/opiekuna wolontariatu:</b>elefon, godziny, w jakich można się  z nim skontaktować, adres mailowy.</li>
    </ul>

<p class="text-center">§4</p>
    <p>4. Organizacja/instytucja korzystająca z oferty WRK przyjmuje do wiadomości, że WRK pełni <b>rolę pośredniczącą</b> między kandydatem na wolontariusza a organizacją/instytucją, co oznacza, że to organizacja/instytucja podpisuje porozumienie z wolontariuszem oraz bierze odpowiedzialność za wolontariusza, którego angażuje w swoje działania.</p>

<p class="text-center">§5</p>
    <p>Organizacja/instytucja, która chce skorzystać z w/w usług zobowiązuje się do wyznaczenia 1 osoby – <b>koordynatora/opiekuna wolontariatu</b>, która będzie odpowiedzialna za kontakt z WRK oraz będzie opiekunem wolontariuszy.</p>

<p class="text-center">§6</p>
    <p>Warunkiem przyjęcia oferty wolontariatu jest pozytywna weryfikacja wiarygodności organizacji/instytucji. W tym celu preferowane jest osobiste spotkanie pracownika WRK z koordynatorem/opiekunem wolontariatu z danej organizacji/instytucji. W trakcie spotkania zostaną omówione szczegółowe warunki współpracy z WRK w zakresie wolontariatu oraz zasady współpracy z wolontariuszami. Weryfikacja organizacji/instytucji może nastąpić również internetowo i/lub telefonicznie. W przypadku dłuższej współpracy z organizacją/instytucją każdorazowa weryfikacja oferty nie jest wymagana.</p>

<p class="text-center">§7</p>
    <p>Spotkanie, po wcześniejszym umówieniu terminu, odbywa się w siedzibie WRK przy ul. Bukowskiej 27/29 w Poznaniu i trwa ok. 1 godziny. <b>Dyżury dla koordynatorów/opiekunów wolontariatu</b> odbywają się we <b>wtorki i czwartki w godz. 16.00-18.00.</b></p>

<p class="text-center">§8</p>
    <p>Wyznaczony przez organizację <b>koordynator/opiekun wolontariatu będzie uczestniczył w szkoleniach i spotkaniach</b> organizowanych przez WRK nt. wolontariatu w celu pogłębiania swojej wiedzy nt. pracy z wolontariuszem zgodnie ze standardami przyjętymi przez Ogólnopolską Sieć Centrów Wolontariatu.</p>

<p class="text-center">§9</p>
    <p>W przypadku zmiany na stanowisku koordynatora/opiekuna wolontariatu w organizacji korzystającej z pracy wolontariuszy organizacja <b>zobowiązuje się do poinformowania WRK</b>o tym fakcie mailowo <a href="mailto:wolontariat@wrk.org.pl">wolontariat@wrk.org.pl</a>, telefonicznie (61 85 30 930) lub osobiście. Nowy koordynator/opiekun jest zobowiązany odbyć w/w spotkanie.</p>

<p class="text-center">§10</p>
    <p>WRK ma prawo <b>odmówić</b> podjęcia współpracy lub <b>zerwać</b> współpracę w przypadku stwierdzenia, że organizacja/instytucja nie przestrzega zasad współpracy z wolontariuszami wynikającymi z ustawy o pożytku publicznym i wolontariacie oraz przyjętych standardów pracy z wolontariuszami.</p>

<p class="text-center">§11</p>
    <p>Po spotkaniu z kandydatem na wolontariusza zainteresowanym konkretną ofertą pracownik WRK przekazuje jego dane koordynatorowi/opiekunowi wolontariatu z zainteresowanej organizacji/instytucji.</p>

<p class="text-center">§12</p>
    <p>Po uzyskaniu danych kontaktowych do kandydata na wolontariusza koordynator wolontariatu zobowiązuje <b>skontaktować się z nim w przeciągu 7 dni</b> w celu omówienia się na spotkanie.</p>

<p class="text-center">§13</p>
    <p>Podczas spotkania z kandydatem na wolontariusza koordynator wolontariatu powinien przede wszystkim:
        <ol>
            <li>zaprezentować wolontariuszowi działania organizacji/instytucji,</li>
            <li>podać szczegółową informację dot. zadania, przy którym będzie zaangażowany wolontariusz – jakie będą obowiązki wolontariusza, co dokładnie będzie robił, kiedy i gdzie, w jakim wymiarze czasu,</li>
            <li>podać kontakt do osoby, która będzie bezpośrednim przełożonym wolontariusza, do której wolontariusz będzie mógł się zgłosić z pytaniami i problemami,</li>
            <li>odpowiedzieć na wszystkie pytania i wątpliwości kandydata,</li>
            <li>spełnić inne wymogi wynikające z Ustawy z dnia 24 kwietnia 2003 r. o działalności pożytku publicznego i o wolontariacie.</li>
        </ol>

<p class="text-center">§14</p>
    <p>Wolontariusz zostanie poinformowany, że w ciągu 7 dni powinien nastąpić kontakt ze strony instytucji/ organizacji, którą wybrał.</p>

<p class="text-center">§15</p>
    <p>Koordynator wolontariatu do 5 dni po spotkaniu z kandydatem zobowiązuje się <b>przekazać WRK informację zwrotną dot. kandydata na wolontariusza</b> – czy doszło do spotkania, czy doszło do zaangażowania kandydata.</p>

<p class="text-center">§16</p>
    <p>Koordynator wolontariatu powiadomi pracownika WRK ZOP o <b>wygaśnięciu oferty wolontariatu lub jej aktualizacji.</b></p>

<p class="text-center">§17</p>
    <p>Organizacja/instytucja zobowiązuje się do <b>przestrzegania obowiązków wobec wolontariusza</b> wynikających z Ustawy z dnia 24 kwietnia 2003 r. o działalności pożytku publicznego i o wolontariacie oraz:
        <ul>
            <li>zapewni wolontariuszowi ubezpieczenie NNW, jeżeli świadczenie pracy wolontariackiej na rzecz organizacji nie przekracza 30 dni,</li>
            <li>podpisze z wolontariuszem porozumienie, które określa jego zakres obowiązków, sposób ich wykonania, okres współpracy, zobowiązania korzystającego wobec wolontariusza, warunki rozwiązania porozumienia,</li>
            <li>zapewni wolontariuszowi bezpieczne, higieniczne warunki pracy,</li>
            <li>będzie traktować wolontariusza jako pełnoprawnego członka zespołu – umożliwi mu pracę adekwatną do jego umiejętności i oczekiwań, pamiętając o tym, że wolontariusz nie może wspierać działalności gospodarczej oraz zastępować pracowników etatowych,</li>
            <li>przestrzegania zasad organizacji/instytucji przyjaznej wolontariuszom.</li>
        </ul>

<p class="text-center">§18</p>
    <p>Kontakt pomiędzy organizacją/instytucją a WRK odbywa się drogą mailową: <a href="mailto:wolontariat@wrk.org.pl">wolontariat@wrk.org.pl</a>, telefoniczną: 61 85 30 930 lub osobiście w siedzibie WRK (ul. Bukowska 27/29) lub w siedzibie organizacji/instytucji.</p>

<br>
<div align="right">
    <p>Zapoznałem/łam się z niniejszym regulaminem i akceptuję jego postanowienia</p>
    <p>………………………………………………………………………………………………………………………………………………………………</p>
    <p>(nazwa organizacji/instytucji)</p>
    <p>…………………………………………………………………………………………..</p>
    <p>(podpis koordynatora/opiekuna wolontariatu w organizacji/instytucji)</p>
</div>
