.footer {
  background-color: #292b2c;
  padding: 20px 0;
}

.footer .nav-link {
  color: lightgray;
  padding: 0.25rem 0;
  font-size: 14px;
}

.footer .nav-link:visited {
  color: grey;
}

.footer .nav-link:hover {
  color: white;
}

.footer .nav-title {
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  padding-bottom: 1em;
}

.cooperation-info {
  font-size: 18px;
  text-align: center;
  color: #656D78;
  font-weight: bold;
}
