<footer class="footer">
  <div class="container">
    <h2 class="text-hide">Nawigacja</h2>
    <div class="row">
      <div class="col-12 col-sm-4 mt-sm-0">
        <h3 class="nav-title">Informacje</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ djangoRoot }}">Strona główna</a>
            <a class="nav-link" href="{{ djangoRoot }}/register">Załóż konto</a>
            <a class="nav-link" href="{{ djangoRoot }}/contact">Kontakt z administratorem</a>
            <a class="nav-link" [routerLink]="['/o-nas']">O nas</a>
            <a class="nav-link" [routerLink]="['/regulations']">Regulamin</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa organizacji i instytucji</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ djangoRoot }}/register">Załóż konto</a>
            <a class="nav-link" href="{{ djangoRoot }}/offers/create">Dodaj nową ofertę</a>
            <a class="nav-link" href="{{ djangoRoot }}/organizations">Lista organizacji i instytucji</a>
            <a class="nav-link" href="{{ djangoRoot }}/pages/faq-organizations">FAQ dla organizacji i instytucji</a>
            <a class="nav-link" href="{{ djangoRoot }}/office">Przyjdź na dyżur</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa wolontariusza</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{{ djangoRoot }}/register">Załóż konto</a>
            <a class="nav-link" href="{{ djangoRoot }}/offers">Lista aktualnych ofert</a>
            <a class="nav-link" href="{{ djangoRoot }}/offers/archived">Archiwum ofert</a>
            <a class="nav-link" href="{{ djangoRoot }}/organizations">Lista organizacji i instytucji</a>
            <a class="nav-link" href="{{ djangoRoot }}/faq-volunteers">FAQ dla wolontariuszy</a>
            <a class="nav-link" href="{{ djangoRoot }}/office"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <p class="cooperation-info">Ten serwis powstał wspólnym wysiłkiem we współpracy pomiędzy:</p>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 ml-auto mr-4 px-0 text-center align-self-center">
          <a target="_blank" href="http://wrk.org.pl/">
              <img class="img-fluid" src="assets/img/logo/logo-wrk.png"
                  alt="Logo WRK - Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych"></a>
        </div>
        <div class="col-3 mr-auto ml-4 px-0 text-center align-self-center">
          <a target="_blank" href="http://stxnext.pl/">
              <img class="img-fluid" src="assets/img/logo/logo-stx-next.png" alt="Logo STX Next"></a>
        </div>
      </div>
    </div>
  </div>
</div>
