<footer class="footer">
  <div class="container">
    <h2 class="text-hide">Nawigacja</h2>
    <div class="row">
      <div class="col-12 col-sm-4 mt-sm-0">
        <h3 class="nav-title">Informacje</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Strona główna</a>
            <a class="nav-link" href="#">Załóż konto</a>
            <a class="nav-link" href="#">Kontakt z administratorem</a>
            <a class="nav-link" href="#">O nas</a>
            <a class="nav-link" href="#">Regulamin</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa organizacji i instytucji</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Załóż konto</a>
            <a class="nav-link" href="#">Dodaj nową ofertę</a>
            <a class="nav-link" href="#">Lista organizacji i instytucji</a>
            <a class="nav-link" href="#">FAQ dla organizacji i instytucji</a>
            <a class="nav-link" href="#">Przyjdź na dyżur</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa wolontariusza</h3>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#">Załóż konto</a>
            <a class="nav-link" href="#">Lista aktualnych ofert</a>
            <a class="nav-link" href="#">Archiwum ofert</a>
            <a class="nav-link" href="#">Lista organizacji i instytucji</a>
            <a class="nav-link" href="#">FAQ dla wolontariuszy</a>
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
