<footer class="footer">
  <div class="container">
    <h2 class="text-hide">Nawigacja</h2>
    <div class="row">
      <div class="col-12 col-sm-4 mt-sm-0">
        <h3 class="nav-title">Informacje</h3>
        <ul class="nav list-unstyled flex-column">
          <li class="nav-item"><a class="nav-link" [routerLink]="['']">Strona główna</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Załóż konto</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Kontakt z administratorem</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/about-us']">O nas</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/regulations']">Regulamin</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa organizacji i instytucji</h3>
        <ul class="nav list-unstyled flex-column">
          <li><a class="nav-link" [routerLink]="['/register']">Załóż konto</a></li>
          <li><a class="nav-link" [routerLink]="['offers', 'create']">Dodaj nową ofertę</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/organizations']">Lista organizacji i instytucji</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/faq-organizations']">FAQ dla organizacji i instytucji</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/office']">Przyjdź na dyżur</a></li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 mt-4 mt-sm-0">
        <h3 class="nav-title">Strefa wolontariusza</h3>
        <ul class="nav list-unstyled flex-column">
          <li class="nav-item"><a class="nav-link" [routerLink]="['/register']">Załóż konto</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ djangoRoot }}/offers">Lista aktualnych ofert</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/organizations']">Lista organizacji i instytucji</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/faq-volunteers']">FAQ dla wolontariuszy</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/office']">Przyjdź na dyżur</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="sub-footer">
  <div class="container">
    <div class="py-4">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
            <p class="cooperation-info">Ten serwis powstał wspólnym wysiłkiem we współpracy pomiędzy:</p>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col-3 ml-auto mr-4 px-0 text-center align-self-center">
          <a target="_blank" href="http://wrk.org.pl/">
              <img class="img-fluid" src="assets/img/logo/logo-wrk.png"
                  alt="Logo WRK - Wielkopolska Rada Koordynacyjna Związek Organizacji Pozarządowych"></a>
        </div>
        <div class="col-3 ml-4 mr-4 px-0 text-center align-self-center">
          <a target="_blank" href="https://codeforpoznan.pl/">
            <img class="img-fluid" src="assets/img/logo/Code_for_Poznan_final_square.png" alt="Logo Code for Poznań"></a>
        </div>
        <div class="col-3 mr-auto ml-4 px-0 text-center align-self-center">
          <a target="_blank" href="https://stxnext.com/">
              <img class="img-fluid" src="assets/img/logo/logo-stx-next.png" alt="Logo STX Next"></a>
        </div>
      </div>
    </div>
  </div>
</div>
