<div class="container">
  <h2>Formularz kontaktowy</h2>
  <div *ngIf="!alertSuccessClosed">
  <ngb-alert type="success" (close)="alertSuccessClosed = true">
    Twoja wiadomość została wysłana. <strong>Dziękujemy!</strong>
  </ngb-alert>
  </div>
  <div *ngIf="!alertErrorClosed">
  <ngb-alert type="danger" (close)="alertErrorClosed = true">
    Przesłano niepoprawne dane.
  </ngb-alert>
  </div>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-group row">
      <label for="id_name" class="col-md-2 col-form-label">Twoje imię i nazwisko</label>
      <div class="col-md-4">
        <input
          type="text"
          name="name"
          class="form-control form-control-lg"
          [ngClass]="{'is-invalid': name.invalid && name.touched}"
          id="id_name"
          [ngModel]="getFullName(user$ | async)"
          required
          minlength="2"
          maxlength="150"
          #name="ngModel" />
        <div
          class="invalid-feedback"
          *ngIf="name.invalid && name.touched">Proszę podać imię i nazwisko</div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 col-form-label" for="id_email">Twój email</label>
      <div class="col-md-4">
        <input
          type="email"
          name="email"
          class="form-control form-control-lg"
          [ngClass]="{'is-invalid': email.invalid && email.touched}"
          id="id_email"
          [ngModel]="(user$ | async).email"
          required
          maxlength="150"
          email
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$"
          #email="ngModel" />
        <div
          class="invalid-feedback"
          *ngIf="email.invalid && email.touched">Proszę podać adres email w poprawnym formacie.</div>
      </div>
      <label class="col-md-2 col-form-label" for="id_phone_no">Telefon</label>
      <div class="col-md-4">
        <input
          type="tel"
          name="phone_no"
          class="form-control form-control-lg"
          [ngClass]="{'is-invalid': phoneNo.invalid && phoneNo.touched}"
          id="id_phone_no"
          [ngModel]="(user$ | async).phoneNo"
          required
          minlength="9"
          maxlength="15"
          #phoneNo="ngModel" />
        <div
          class="invalid-feedback"
          *ngIf="phoneNo.invalid && phoneNo.touched">Proszę podać numer telefonu.</div>
      </div>
    </div>
      <div class="form-group row">
        <label class="col-md-2 col-form-label" for="id_message">Opis</label>
        <div class="col-md-10">
          <textarea
            name="message"
            class="form-control"
            [ngClass]="{'is-invalid': message.invalid && message.touched}"
            rows="5"
            id="id_message"
            ngModel
            required
            minlength="2"
            #message="ngModel">
          </textarea>
          <div
          class="invalid-feedback"
          *ngIf="message.invalid && message.touched">Wiadomość nie może być pusta.</div>
        </div>
      </div>
    <div class="form-group row d-none">
      <div class="col-md-9 offset-md-3">
        <label class="col-md-3 col-form-label" for="id_honey">Are you a bot?</label>
        <input
          type="text"
          id="id_honey"
          ngModel
          name="honeyBunny"
          class="form-control"
          #honeyBunny="ngModel" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-9 offset-md-3">
        <button
          type="submit"
          name="submit"
          class="btn btn-primary"
          [disabled]="contactForm.invalid || submitDisabled">
          Wyślij
        </button>
      </div>
    </div>
  </form>
</div>
