<h2>Rejestracja w Volontulo</h2>
<form method="post" role="form" (ngSubmit)=register()>
  <div class="form-group">
    <p>Email:</p>
    <input
      type="email"
      name="email"
      class="form-control form-control-lg"
      [(ngModel)]="registerModel.email"
      [ngClass]="{'is-invalid': email.invalid && email.touched}"
      required
      email
      maxlength="150"
      #email="ngModel" />
    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
      <div *ngIf="email.errors.required">
        Pole 'Email' jest wymagane.
      </div>
      <div *ngIf="(email.errors.email && !email.errors.required) || email.errors.pattern">
        Nieprawidłowy Email.
      </div>
    </div>
  </div>
  <div class="form-group">
    <p>Hasło:</p>
    <input
      type="password"
      name="password"
      class="form-control form-control-lg"
      [(ngModel)]="registerModel.password"
      [ngClass]="{'is-invalid': password.invalid && password.touched}"
      required
      #password="ngModel" />
    <div *ngIf="password.invalid && password.touched" class="invalid-feedback">
      Pole 'Hasło' jest wymagane.
    </div>
  </div>
  <div class="form-group d-none">
    <div class="col-md-9 offset-md-3">
      <label class="col-md-3 col-form-label" for="id_honey">Are you a bot?</label>
      <input
        type="text"
        id="id_honey"
        ngModel
        name="honeyBunny"
        class="form-control"
        #honeyBunny="ngModel" />
    </div>
  </div>
  <div class="form-check">
    <input
      type="checkbox"
      name="checkboxTA"
      class="form-check-input"
      ngModel
      required
      #checkboxTA="ngModel" />
    <label for="checkboxTA" class="form-check-label">{{ ACCEPT_TERMS }}*</label>
  </div>
  <div *ngIf="checkboxTA.invalid && checkboxTA.dirty" class="alert alert-danger">
    Wymagana zgoda na przetwarzanie danych osobowych.
  </div>
  <div *ngIf="registrationSuccessful" class="alert alert-info" role="alert">
    Jeśli podany email jest prawidłowy, powinieneś otrzymać wiadomość z linkiem potwierdzającym.
  </div>
  <div *ngIf="userIsAuthenticated" class="alert alert-info" role="alert">
    Wyloguj się, jeśli chcesz zarejestrować użytkownika.
  </div>
  <button
    type="submit"
    name="submit"
    class="btn btn-primary"
    [disabled]="password.errors || email.errors">
    Zarejestruj się
  </button>
</form>
