<div class="row">
  <div class="row">
    <div class="col-lg-12 mb-2">
      <a [routerLink]="['/organizations','create']" class="btn btn-primary">Dodaj organizację</a>
    </div>
  </div>
  <div class="col-lg-12">
    <table *ngIf="organizations?.length; else noOrganizations" class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Adres</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let organization of organizations">
        <td><a class="organization-detail" [routerLink]="['/organizations', organization.slug, organization.id]">{{ organization.name }}</a></td>
        <td>{{ organization.address }}</td>
      </tr>
      </tbody>
    </table>
    <ng-template #noOrganizations>
      <p>Brak zdefiniowanych organizacji.</p>
    </ng-template>
  </div>
</div>
