<div class="container">
  <h2>Resetowanie hasła</h2>
  <div *ngIf="alertSuccessVisible">
    <ngb-alert type="success" (close)="hideSuccessAlert()">
      Jeżeli użytkownik istnieje w naszej bazie, <strong>link do resetowania hasła
      został wysłany na podany adres email</strong>.
    </ngb-alert>
  </div>
  <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
    <div class="form-group">
      <label for="username">Podaj adres email:</label>
      <input
        type="email"
        name="username"
        class="form-control form-control-lg"
        [ngClass]="{'is-invalid': username.invalid && username.touched}"
        id="username"
        ngModel
        required
        maxlength="150"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$"
        #username="ngModel" />
      <div class="invalid-feedback" *ngIf="username.control.errors?.required">
        Pole nie może być puste.
      </div>
      <div
        class="invalid-feedback"
        *ngIf="username.touched && username.control.errors?.pattern">
        Podaj poprawny adres email.
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        name="submit"
        class="btn btn-primary"
        [disabled]="resetForm.invalid">
        Resetuj
      </button>
    </div>
  </form>
</div>
